<%- include('../partials/header') %>

 <h1><%=title%></h1>
<p>Hello there my name is Feysal Omar </p>
    
       <p> Im 20 years old but besides my age I have a lot of work experience.</p>
       
       <p> At age 16-17 I would volunteer at the Seattle public library to help bring communty kids together though group programs.</p>
       
       <p>Then going on to 17 I got my first grown up job at the Seattle Seahawks stadium working front desk at the pro shop so I think I could say I have experience in  retail and customer support.</p>
           
      <p> After high school I decided to get my guard license and become a part time security guard at the Starbucks headquarter. I did that for a year and decided to quit to pursue my career as an emerging Jr Sofware Developer with Year Up Puget Sound</p>
   
      <%- include('../partials/footer') %>