<%- include('../partials/header') %>

 <h1><%=title%></h1>
      <p>Feysal Omar</p>    
      <p>Feysalomar68@gmail.com</p>    
      <p>206-886-1689</p>    
      
      <%- include('../partials/footer') %>