    <%- include('../partials/header') %>

 <h1><%=title%></h1>
        <li><a  href="https://feysalomar.github.io/time-of-day/" target="_blank">Time of day</a></li>
        <li><a href="https://feysalomar.github.io/seasonal-styles/" target="_blank">seasonal-styles</a></li>
        <li><a href="https://feysalomar.github.io/daily-grind/" target="_blank">Daily grind Project</a></li>
      </ul>
    
      <%- include('../partials/footer') %>